<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <a class="navbar-brand" [routerLink]="['/']">Ngx-tab-group</a>
  </ul>

</nav>

<div class="container">
  <ngx-tab-group [tabGroupConfig]="config" [selectedIndex]="tIndex">
    <ngx-tab label="Overview">
      <p>Ngx-tab-group is a fully independent library. ngx-tab-group organize all tab-panel data into separate
        view
        where only one view can be visible at a time. Each tab's
        label is shown in the tab header. You can fully customize using css class.

        The active tab may be set using the selectedIndex input or when the user selects one of the tab labels
        in
        the heade. It's except number only.</p>
      <div class="mt-5">
        <h3>Why Ngx-Tab-Group ?</h3>
        <div style="border-bottom: 2px solid #ccc;"></div>
        <p style="margin-top: 5px;">ngx-tab-group support following features:</p>
        <ul>
          <li>
            <p>Light weight for your Project.</p>
          </li>
          <li>
            <p>Easy to use.</p>
          </li>
          <li>
            <p>Horizontal and Vertical tab supported.</p>
          </li>
          <li>
            <p>You can pass different class for tab and tab-panel to customizer.</p>
          </li>
        </ul>
      </div>
      <div class="mt-5">
        <h3>How to use ?</h3>
        <div style="border-bottom: 2px solid #ccc;"></div>
        <p class="mt-5">1) Import <b>NgxTabGroupModule</b> in your app.module.ts</p>
        <pre>
                    <code>
{{text1}}
{{' '}}
{{'@NgModule({'}}
{{'  imports: ['}}
{{'    // ...'}}
{{'    NgxTabGroupModule'}}
{{'  ],'}}
{{'})'}}
{{' '}}
{{'export class AppModule {}'}}
                    </code>
                </pre>
        <p class="mt-5">2) Next go to the <b>app.component.html</b></p>
        <pre>
                    <code>
{{"<"}}{{"ngx-tab-group"}}{{">"}}
{{"  <"}}{{'ngx-tab label="First"'}}{{">"}}
{{"    Containt-1"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"  <"}}{{'ngx-tab label="Second"'}}{{">"}}
{{"    Containt-2"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"<"}}{{"/ngx-tab-group"}}{{">"}}
                    </code>
                </pre>
      </div>
      <div class="mt-5">
        <h3>Some features:</h3>
        <div style="border-bottom: 2px solid #ccc;"></div>
        <p class="mt-5">Write the Config in your <b>app.component.ts</b> to configure
          or customize your tab-group.
        </p>
        <pre>
                    <code>
{{"import { TabGroupConfig } from 'ngx-tab-group';"}}
{{""}}
{{"@Component({"}}
{{"  selector: 'app-root',"}}
{{"  templateUrl: './app.component.html',"}}
{{"  styleUrls: ['./app.component.scss']"}}
{{"})"}}
{{""}}
{{"export class AppComponent {"}}
{{"  config: TabGroupConfig = {"}}
{{"    position: 'vertical', // Two option for this 'horizontal' or 'vertical', Default value 'horizontal'"}}
{{"    taClass: string, // Pass your class for tab here, default null"}}
{{"    coClass: string // Pass your class for tab-panel here, default null"}}
{{"  }"}}
{{""}}
{{"  // If you want to handel tab index from your site"}}
{{"  index = 0"}}
{{""}}
{{"  onChange(event) {"}}
{{"    this.index = event;"}}
{{"    // ... do whatever you want on tab change event"}}
{{"  }"}}
{{"}"}}
                    </code>
                </pre>
        <p class="mt-5">Now, in your app.component.html</p>
        <pre>
                    <code>
{{"<"}}{{"ngx-tab-group ["}}{{'tabGroupConfig]="config"'}}{{' [selectedIndex]="index"'}}{{' (onSelectedIndexChange)="onChange($event)"'}}{{">"}}
{{"  <"}}{{'ngx-tab label="First"'}}{{">"}}
{{"    Containt-1"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"  <"}}{{'ngx-tab label="Second"'}}{{">"}}
{{"    Containt-2"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"<"}}{{"/ngx-tab-group"}}{{">"}}
                    </code>
                </pre>
      </div>
    </ngx-tab>
    <ngx-tab label="Examples">
      <p class="mt-5">You can set tab as horizontal or vertical:</p>
      <div class="row tab">
        <div class="col-md-5 tab1">
          <button class="button" (click)="onClick()">{{config1.position | titlecase}}</button>
          <div class="mb-2" style="border-bottom: 2px solid #ccc;"></div>
          <ngx-tab-group [tabGroupConfig]="config1">
            <ngx-tab label="First">
              Containt-1
            </ngx-tab>
            <ngx-tab label="Second">
              Containt-2
            </ngx-tab>
          </ngx-tab-group>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
          <ngx-tab-group>
            <ngx-tab label="app.module.ts">
              <pre>
                                <code>
{{text1}}
{{' '}}
{{'@NgModule({'}}
{{'  imports: ['}}
{{'    // ...'}}
{{'    NgxTabGroupModule'}}
{{'  ],'}}
{{'})'}}
{{' '}}
{{'export class AppModule {}'}}
                                </code>
                            </pre>
            </ngx-tab>
            <ngx-tab label="app.component.ts">
              <pre>
                                <code>
{{"@Component({"}}
{{"  selector: 'app-root',"}}
{{"  templateUrl: './app.component.html',"}}
{{"  styleUrls: ['./app.component.scss']"}}
{{"})"}}
{{""}}
{{"export class AppComponent {"}}
{{""}}
{{"export class AppComponent {"}}
{{"  config: TabGroupConfig = {"}}
{{"    position: 'vertical', // Two option for this 'horizontal' or 'vertical', Default value 'horizontal'"}}
{{"    taClass: string, // Pass your class for tab here, default null"}}
{{"    coClass: string // Pass your class for tab-panel here, default null"}}
{{"  }"}}
{{""}}
{{" onClick() {"}}
{{"   if (this.config.position === 'horizontal') {"}}
{{"     this.config.position = 'vertical'"}}
{{"   } else {"}}
{{"     this.config.position = 'horizontal'"}}
{{"   }"}}
{{"}"}}
                                </code>
                            </pre>
            </ngx-tab>
            <ngx-tab label="app.component.html">
              <pre>
                                <code>
{{"<"}}{{"ngx-tab-group"}}{{' [tabGroupConfig]="config"'}}{{">"}}
{{"  <"}}{{'ngx-tab label="First"'}}{{">"}}
{{"    Containt-1"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"  <"}}{{'ngx-tab label="Second"'}}{{">"}}
{{"    Containt-2"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"<"}}{{"/ngx-tab-group"}}{{">"}}
                                </code>
                            </pre>
            </ngx-tab>
          </ngx-tab-group>
        </div>
      </div>

      <p class="mt-5">You can set default tab index :</p>
      <div class="row tab">
        <div class="col-md-5 tab1">

          <ngx-tab-group [selectedIndex]="tabIndex" (onSelectedIndexChange)="onIndexChange($event)">
            <ngx-tab label="First">
              Containt-1
            </ngx-tab>
            <ngx-tab label="Second">
              Containt-2
            </ngx-tab>
          </ngx-tab-group>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
          <ngx-tab-group>
            <ngx-tab label="app.module.ts">
              <pre>
                                <code>
{{text1}}
{{' '}}
{{'@NgModule({'}}
{{'  imports: ['}}
{{'    // ...'}}
{{'    NgxTabGroupModule'}}
{{'  ],'}}
{{'})'}}
{{' '}}
{{'export class AppModule {}'}}
                                </code>
                            </pre>
            </ngx-tab>
            <ngx-tab label="app.component.ts">
              <pre>
                                <code>
{{"@Component({"}}
{{"  selector: 'app-root',"}}
{{"  templateUrl: './app.component.html',"}}
{{"  styleUrls: ['./app.component.scss']"}}
{{"})"}}
{{""}}
{{"export class AppComponent {"}}
{{""}}
{{"export class AppComponent {"}}
{{"  tabIndex = 0;"}}
{{""}}
{{"  onChange(event) {"}}
{{"    // In event you will get index of current active"}}
{{"       tab"}}
{{"    this.tabIndex = event;"}}
{{"    // ... do whatever you want on tab change event"}}
{{"  }"}}
{{"}"}}
                                </code>
                            </pre>
            </ngx-tab>
            <ngx-tab label="app.component.html">
              <pre>
                                <code>
{{"<"}}{{"ngx-tab-group"}}{{' [selectedIndex]="tabIndex"'}}
{{'(onSelectedIndexChange)="onChange($event)"'}}{{">"}}
{{"  <"}}{{'ngx-tab label="First"'}}{{">"}}
{{"    Containt-1"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"  <"}}{{'ngx-tab label="Second"'}}{{">"}}
{{"    Containt-2"}}
{{"  <"}}{{"/"}}{{"ngx-tab>"}}
{{"<"}}{{"/ngx-tab-group"}}{{">"}}
                                </code>
                            </pre>
            </ngx-tab>
          </ngx-tab-group>
        </div>
      </div>
    </ngx-tab>
  </ngx-tab-group>
</div>

<!-- <div style="padding: 50px;">
    <app-vms-tab-group [tabGroupConfig]="config" [selectedIndex]="tabIndex"
        (onSelectedIndexChange)="onIndexChange($event)">
        <app-vms-tab label="About">
            Containt-1
            <button (click)="onNext()">Next</button>
        </app-vms-tab>
        <app-vms-tab label="Services">
            Containt-2
            <button (click)="onNext()">Next</button>
        </app-vms-tab>
        <app-vms-tab label="Work">
            Containt-3
            <button (click)="onNext()">Next</button>
        </app-vms-tab>
        <app-vms-tab label="Contact">
            Containt-4
            <button (click)="onNext()">Next</button>
        </app-vms-tab>
    </app-vms-tab-group>
</div> -->